[submodule "IH_Engine/third_party/SDL"]
	path = IH_Engine/third_party/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "IH_Engine/third_party/fmt"]
	path = IH_Engine/third_party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "IH_Engine/third_party/stb"]
	path = IH_Engine/third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "IH_Engine/third_party/imGui"]
	path = IH_Engine/third_party/imGui
	url = https://github.com/ocornut/imgui.git
[submodule "IH_Engine/third_party/fastgltf"]
	path = IH_Engine/third_party/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "IH_Engine/third_party/glm"]
	path = IH_Engine/third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "IH_Engine/libs/IH_Vulkan/third_party/volk"]
	path = IH_Engine/libs/IH_Vulkan/third_party/volk
	url = https://github.com/zeux/volk
[submodule "IH_Engine/libs/IH_Vulkan/third_party/vma"]
	path = IH_Engine/libs/IH_Vulkan/third_party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "IH_Engine/libs/IH_Vulkan/third_party/vkbootstrap"]
	path = IH_Engine/libs/IH_Vulkan/third_party/vkbootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
